@import "_color.scss";
@import "_fonts.scss";
// To Override Bulma Variables, use SASS above.
@import "bulma.scss";

html {
  background: $dark;
  body {
    height: 100vh;
    position: relative;
    &.active {
      background: orange;
    }
  }
}

section.hero .hero-body {
  position: relative;
  min-height: 100px;
  transition: min-height 1s;
  &.active {
    min-height: 100vh;
  }
}

a {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 12%;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
  }
  &:hover:before {
    animation: linkAnimation 1s;
  }
}

@keyframes linkAnimation {
  0% {
    height: 1px;
  }
  50% {
    height: 80%;
  }
}

.c-bigO {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    position: relative;
    height: 80vh;
    max-width: 80vw;
    animation: rotation 60s infinite;
    @media screen and (max-width: 375px) {
      margin-top: 30vw;
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.section-about {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: absolute;
  top: -200vh;
  opacity: 0;
  transition: top 2s, opacity 0.2s;
  &.active {
    top: 0;
    opacity: 1;
    transition: top 1s, opacity 1s 1s;
  }
}
